.imag-date {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.alldates {
    display: flex;
    width: 90%;
    justify-content: space-between;
    
}

.description-date {
 border-radius: 1px solid black;
}