.request-title {
    width: 90%;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 900;
    padding: 20px;
}
.request-subtitle {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 25px;
    height: 89.7vh;
}
.request-container {
    background-color: rgba(255, 233, 241, 0.8);
}

















