/* .header {
    display: flex;
    justify-content: space-around;
} */

h2 {
    font-style: italic;
}



img.profile-pic {
    width: 60px;
}

.request-card-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.request-card-pic {
    width: 500px;
    border-radius: 70px;
}

.request-info {
    display: flex;
    align-items: center;
}


.request-card-name {
    font-size: 40px;
    /* margin-top: 0px; */
    /* margin-left: 35px  */
}

.request-card-age {
    font-size: 25px;
    margin-right: 100px;
}

.request-date-title {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

.card-profile {
    display: flex;
    flex-direction: column;
}

a.box {
    text-decoration: none;
    color: black;
    display: flex;
}

.request-date {
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center; 
}