
.editProfile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

input[type="file"] {
    color: transparent;
}

.editProfile-data-container {
   margin: auto; 
}

.editProfile-data {
    font-size: 10px;
    margin: 1px;
}

.editProfile-input {
    border-radius: 5px;
}

.editProfile-h3 {
    font-style: italic;
}

.editProfile-button {
    margin-top: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: transparent;
    height: 30px;
    font-style: italic;
}

.form-sign-up {
    padding: 80px;

}