.checkbox {
    display: flex;
    justify-content: space-around;
}

.editProfile-checkbox {
    display: flex;
    justify-content: center;
}

.editProfile-h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    padding: 20px;
    /* margin-top: 20px;   */
    margin: 0;
}

.editProfile-gender {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 20px;
    /* margin-top: 20px;   */
    margin: 0;
}

.editProfile-data {
    padding: 10px;
}

.userCard-container {
    background-color: rgba(255, 233, 241, 0.8)
}

.editProfile-button-container {
    display: flex;
    justify-content: center;
}

.editProfile-button {
    width: 200px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(255, 172, 201, 0.8);
    margin-bottom: 10px;
    font-weight: 900;
    text-transform: uppercase;
}

.editProfile-button:hover {
    background-color: black;
    color: rgba(255, 172, 201, 0.8);
}

form.editProfile-container {
    background-color: rgba(255, 233, 241, 0.8)
}