.login-header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.login-h1 {
    font-weight: 900;
    color: rgba(255, 172, 201, 0.8);
    margin-top: 5px;
}

.login-img {
    width: 30px;
}

.login-container {
    height: 89.3vh;
    background-color: rgba(255, 233, 241, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-h2 {
    font-weight: 900;
    font-style:normal;
    text-align: center;
    margin: 0;
    color: black;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
    margin-top: 25px;
    height: 80px;
}

.login-singleInput {
    width: 65%;
    font-size: 14px;
    border-radius: 15px;
    border: 2px solid rgba(255, 172, 201, 0.8);
    padding-left: 10px;
    
}

.login-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button {
    width: 80%;
    border: 2px solid rgba(255, 172, 201, 0.8);
    background-color: white;
    margin-top: 10px;
    height: 32px;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 3px;
}

.login-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 900;
    height: 20%;
    margin-top: 20px;
}