.headerNav-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: #fff;
}

.header-nav-h1 {
    font-size: 22px;
    font-style: italic;
}

.headerNav-profile-img {
    width: 48px;
    height: 48px;
    padding: 10px;
    border-radius: 50%;
}

.headerNav-project-img {
    width: 25px;
}

.headerNav-subcontainer {
    display: flex;
    align-items: center;
}

.headerNav-text {
    margin-top: 10px;
    font-weight: 900;
    color: rgba(255, 172, 201, 0.8);
}

.headerNav-logout {
    width: 45px;
    height: 45px;
    padding: 10px;
}





