.signup-header {
    padding: 20px;
    display: flex;
    align-items: center;
}

.signup-h1 {
    font-weight: 900;
    color: rgba(255, 172, 201, 0.8);
    margin-top: 5px;
}

.signup-img {
    width: 30px;
}

.signup-container {
    height: 90vh;
    background-color: rgba(255, 233, 241, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-h2 {
    font-weight: 900;
    font-style:normal;
}

.signup-subtitle {
    text-align: center;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    margin-right: 20px;
    font-weight: 900;
    margin-top: 10px;
}

.signup-a {
    color: black;
    font-weight: 900;
}

.signup-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    line-height: 25px;
    margin-top: 25px;
    height: 80px;
}

.signup-singleInput {
    width: 65%;
    padding-left: 10px;
    font-size: 14px;
    border-radius: 15px;
    border: 2px solid rgba(255, 172, 201, 0.8);
}

.signup-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-button {
    width: 80%;
    border: 2px solid rgba(255, 172, 201, 0.8);
    background-color: white;
    margin-top: 10px;
    height: 32px;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 3px;
}



/* .signup-text {
    text-align: center;
    width: 90%;
    margin-top: 15px;
    font-size: 12px;
} */



.signup-link-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    font-weight: 900;
    height: 20%;
}










