.userCard-img {
    width: 100%;
    border-radius: 3px;
}

.userCard-subcontainer {
    position: relative;
}

.userCard-info-container {
    display: block;
    position: absolute;
    bottom: 1em;
    left: 1em;
    color: white;
    font-weight: 900;
}

.userCard-info-1 {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 90px;
    margin: 0;
    background-color: rgba(255, 172, 201, 0.8);
    border-radius: 5px;
}

.userCard-name {
    font-size: 18px;
    margin-top: 2px;
}

.userCard-age {
    margin-left: 10px;
    font-size: 16px;
    margin-top: 5px;
}

.userCard-bio {
    display: flex;
    justify-content: space-around;
    height: 25px;
    width: 300px;
    margin: 5px 0;
    background-color: rgba(255, 172, 201, 0.8);
    border-radius: 5px;
}

.userCard-button-container {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-size: 12px;
}


button.userCard-button {
    width: 100px;
    background-color: white;
    border: 1px solid rgba(255, 172, 201, 0.8);
    border-radius: 3px;
}

.userCard-dates-home {
    display: flex;
    margin-top: 10px;
}

.userCard-detail-date-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
}

.userCard-key {
    
}

.userCard-date-title {
    font-weight: 900;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid rgba(255, 172, 201, 0.8);
    width: 40%;
    text-align: center;
    border-radius: 3px;
}

.userCard-detail-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(255, 172, 201, 0.8);
    width: 340px;
    height: 20%;
    margin: 10px 0;
    border-radius: 3px;
    background-color: #ffefe6;
    font-size: 14px;
}

.userCard-detail-date-name {
    margin: 0;
    text-align: center;
    font-weight: 900;
}

.userCard-detail-date-description {
    margin: 0;
    text-align: center;
}

.userCard-detail-date-category-content {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.userCard-detail-date-category {
    margin: 0;
    margin-right: 10px;
    font-weight: 900;
}

.userCard-trivial-header {
    text-align: center;
}

.userCard-trivial-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard-trivial-box {
    height: 50px;
    background-color: #ffefe6;
    margin: 10px 0;
    width: 300px;
    text-align: center;
    border: 1px solid rgba(255, 172, 201, 0.8);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.userCard-trivial-text {
    margin-top: 13px;
}

.userCard-correctTrivial-subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userCard-correctTrivial-title {
    text-align: center;
}

.userCard-correctTrivial-chat {
    text-decoration: none;
    color: rgba(255, 172, 201, 0.8);
    font-weight: 900;
    text-decoration: none;
    text-decoration-line: underline;
}

.userCard-correctTrivial-button {
    border: 1px solid rgba(255, 172, 201, 0.8);
    background-color:  #ffefe6;
    border-radius: 3px;
    width: 150px;
}