@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Poppins:wght@300&display=swap');
* {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.privateChat {
    height: 89vh;
    width: 100%;
    background-color: rgb(255 244 244);
}

/* .feed{
    flex:5.5
} */

.feedWrapper{
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
    height: 79%;
}

.name-chat {
    padding-left: 30px;
}

.feedWrapper.but{
    margin-top: 100%;
}