.loggedUserHome-container {
    display: flex;
    text-align: center;
    align-items: center;
    height: 89.7vh;
    background-color: rgba(255, 233, 241, 0.8);;
}

.loggedUserHome-h3 {
    font-size: 30px;
}

.loggedUserHome-link {
    text-decoration: none;
    color: rgb(92, 92, 92);
    font-weight: 900;
}

.project-logo-big {
    width: 100px;
    height: 100px;

}

.no-dec {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.home-page {
    border: 2px solid rgba(255, 172, 201, 0.8);
    border-radius: 29px;
    background-color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.home-page:hover {
    background-color: rgba(24, 21, 21, 0.8);
    color: white
}


.project-logo-container {
    margin-bottom: 20px;
}