.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
img.search {
    width: 100px;
    margin-top: 10px;
}
img.request {
    width: 40px;
}
img.chat {
    width: 35px;
}
img.second-chance {
    width: 40px;
}
img.user {
    width: 50px;
}





