.footerNav-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 42px;
    position: fixed;
    bottom: 0;
    padding: 7px;
    background-color: rgba(255, 233, 241, 1);
}
img.search {
    width: 30px;
}
img.request {
    width: 30px;
}
img.chat {
    width: 30px;
}
img.second-chance {
    width: 30px;
}
img.user {
    width: 30px;
}