.secondOp-container {
    background-color: rgba(255, 233, 241, 0.8);
}

.secondsOp-text {
    display: flex;
    text-align: center;
    align-items: center;
    height: 89.7vh;
    font-size: 25px;
    padding: 10px;
}